<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.BackOfficeMapper">

	<select id="selectBoInquiryAllCount"  resultType="int" >
		SELECT 
			COUNT(id) 
		FROM 
			inquiry 
	</select>
	
	<select id="selectBoMemberAllCount"  resultType="int" >
		SELECT 
			COUNT(id) 
		FROM 
			member 
	</select>
	
	<select id="selectBoInquiryList" parameterType="com.dao.InquiryDao" resultType="com.vo.Inquiry" >
		SELECT
			id, 
			title, 
			context, 
			regDt, 
			regId, 
			updateDt, 
			updateId, 
			imgGroupId
		FROM
			inquiry
		ORDER BY 
			id DESC
		LIMIT #{amount} OFFSET #{offset}
	</select>
	
	<select id="selectBoMemberList" parameterType="com.dao.MemberDao"  resultType="com.vo.Member">
		SELECT 
			id,
			nm, 
			userId, 
			birth, 
			pno, 
			addr1, 
			addr2, 
			regDt, 
			regId, 
			updateDt, 
			updateId 
		FROM 
			member
		ORDER BY 
			id DESC
		LIMIT #{amount} OFFSET #{offset}	
	</select>
	
</mapper>


