<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.EventMapper">

	<resultMap id="eventDetailMap" type="com.vo.Event">
		<id property="id" column="id" />
		<result property="title" column="title" />
		<result property="contents" column="contents" />
		<result property="useYn" column="useYn" />
		<collection property="img" ofType="com.vo.Img">
	    	<result property="imgNm" column="imgNm" />
	    	<result property="path" column="path" />
		</collection>
	</resultMap>

	<insert id="insertEvent" parameterType="com.dao.EventDao">
	INSERT INTO event
	(id, listImg, detailImg, title, contents, regDt, regId, updateDt, updateId, useYn)		
	VALUES(#{id}, #{listImg}, #{detailImg}, #{title}, #{contents}, now(), 99999, now(), 99999, "Y")
	</insert>


	<select id="selectTableNumbering" resultType="Integer">
		SELECT id FROM event ORDER BY id DESC LIMIT 1
	</select>

	<select id="selectEventList" resultType="com.vo.Event">
		SELECT
			e.id AS id,
			e.title AS title,
			e.regDt AS regDt,
			i.`path` AS imgPath
		FROM
			event e
			JOIN img i ON
			e.listImg = i.imgGroupId
		ORDER BY regDt DESC 
	</select>

	<select id="selectEventDetailList" parameterType="int" resultType="com.vo.Event">
		SELECT
			e.id AS id,
			e.title AS title,
			e.contents AS contents,
			i.`path` AS imgPath
		FROM
			event e
			JOIN img i ON
			e.detailImg = i.imgGroupId
		WHERE e.id = #{value}
	</select>

	<select id="selectEvent" parameterType="int" resultMap="eventDetailMap">
		SELECT
			e.id,
			e.title,
			e.contents,
			e.useYn,
			i.nm as imgNm,
			i.`path`
		FROM
			event e
		INNER JOIN imgGroup ig ON
			e.detailImg = ig.id
				OR 
			e.listImg = ig.id
		INNER JOIN img i ON
			ig.id = i.imgGroupId
		WHERE e.id = #{value}
	</select>
</mapper>


