<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.GoodsMapper">

	<insert id="insertGoods" parameterType="com.dao.GoodsDao">
		INSERT INTO goods
		(id, cateId, `no`, nm, price, dprice, wareHousing, goodsState, info, descliption, fabric, listImg, detailImg, regDt, regId, updateDt, updateId, useYn)
		VALUES(#{id}, #{cateId}, #{no}, #{nm}, #{price}, #{dprice}, now(), #{goodsState}, #{info}, #{descliption}, #{fabric}, #{listImg}, #{detailImg}, now(), 00000, now(), 00000, "Y");
	</insert>
	
	<select id="selectTableNumbering" resultType="Integer">
		SELECT id FROM goods ORDER BY id DESC LIMIT 1
	</select>
	
	<select id="selectCategoryGoodsList" parameterType="String" resultType="com.vo.Goods">
		SELECT
			gs.id as id,
			gs.nm as nm,
			gs.price as price,
			gs.dprice as dprice,
			gs.fabric as fabric,
			ig.path as ImgPath
		FROM
			goods gs
		JOIN category ct ON
			gs.cateId = ct.cateCode
		JOIN imgGroup igg  ON
			gs.listImg = igg.id
		JOIN img ig  ON
			igg.id = ig.imgGroupId
		WHERE
			ct.cateCodeRef = #{value} or ct.cateCode = #{value} 
	</select>
</mapper>


