<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.GoodsMapper">

	<resultMap id="goodsDetailMap" type="com.vo.Goods">
	  <id property="id" column="id" />
	  <result property="no" column="no" />
	  <result property="nm" column="nm" />
	  <result property="price" column="price" />
	  <result property="dprice" column="dprice" />
	  <result property="fabric" column="fabric" />
	  <result property="info" column="info" />
	  <result property="descliption" column="descliption" />
	  <collection property="img" ofType="com.vo.Img">
	    <result property="imgNm" column="imgNm" />
	    <result property="path" column="path" />
	  </collection>
	</resultMap>
		


	<insert id="insertGoods" parameterType="com.dao.GoodsDao">
		INSERT INTO goods
		(id, cateId, `no`, nm, price, dprice, wareHousing, goodsState, info, descliption, fabric, listImg, detailImg, regDt, regId, updateDt, updateId, useYn)
		VALUES(#{id}, #{cateId}, #{no}, #{nm}, #{price}, #{dprice}, now(), #{goodsState}, #{info}, #{descliption}, #{fabric}, #{listImg}, #{detailImg}, now(), 00000, now(), 00000, "Y");
	</insert>
	
	<select id="selectTableNumbering" resultType="Integer">
		SELECT id FROM goods ORDER BY id DESC LIMIT 1
	</select>
	
	<select id="selectCategoryGoodsList" parameterType="String" resultType="com.vo.Goods">
		SELECT
			gs.id as id,
			gs.nm as nm,
			gs.price as price,
			gs.dprice as dprice,
			gs.fabric as fabric,
			ig.path as ImgPath
		FROM
			goods gs
		JOIN category ct ON
			gs.cateId = ct.cateCode
		JOIN imgGroup igg  ON
			gs.listImg = igg.id
		JOIN img ig  ON
			igg.id = ig.imgGroupId
		WHERE
			ct.cateCodeRef = #{value} or ct.cateCode = #{value} 
	</select>

	<select id="selectGoods" parameterType="int" resultMap="goodsDetailMap">
		SELECT
			p.id,
			p.no,
			p.nm,
			p.price,
			p.dprice,
			p.fabric,
			p.info,
			p.descliption,
			i.nm as imgNm,
			i.`path`
		FROM
			goods p
		INNER JOIN imgGroup ig ON
			p.detailImg = ig.id
			OR 
			p.listImg = ig.id
		INNER JOIN img i ON
			ig.id = i.imgGroupId
		WHERE p.id = #{value}
	</select>

</mapper>


