<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.ImgGroupMapper">

	<insert id="insertImgGroup" parameterType="Integer">
		INSERT INTO imgGroup
		(id, regDt, regId, updateDt, updateId, useYn)
		VALUES(#{value}, now(), 99999, now(), 99999, 'Y');
	</insert>
	
	<select id="selectTableNumbering" resultType="Integer">
		SELECT id FROM imgGroup ORDER BY id DESC LIMIT 1
	</select>
</mapper>


