<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.JoinMapper">

	<!-- insert -->
	<!-- 회원가입 회원정보 등록 -->
	<insert id="insertJoinMember" parameterType="com.dao.MemberDao">
		INSERT INTO member 
        (id, nm, userId, pw, addr1, addr2, pno, birth, regDt, regId, updateDt, updateId, useYn) 
        VALUES 
        (#{id}, #{nm}, #{userId}, #{pw}, #{addr1}, #{addr2}, #{pno}, #{birth}, now(), 99999, now(), 99999, "Y") 
	</insert>
	
	<select id="selectIdCheck" parameterType="String" resultType="int">
		SELECT COUNT(userId) FROM member WHERE userId = #{value}
	</select>


</mapper>


