<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.MyPageMapper">


	<select id="selectMemberData" resultType="com.vo.Member" parameterType="int">
		SELECT userId, nm, birth, pno, zonecode, addr1, addr2 FROM member WHERE id = #{value}
	</select>
	
	<update id="updateMemberPw" parameterType="com.dao.MemberDao">
		UPDATE member 
		SET pw = #{pw}
		WHERE id = #{id}
	</update>

	<update id="updateMemberAddr" parameterType="com.dao.MemberDao">
		UPDATE member 
		SET addr1 = #{addr1}, addr2 = #{addr2} 
		WHERE id = #{id}
	</update>
	
</mapper>


