<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.MyPageMapper">

	<!-- 회원수정 페이지 데이터 보여주기 -->
	<select id="selectMemberData" resultType="com.vo.Member" parameterType="int">
		SELECT userId, nm, birth, pno, zonecode, addr1, addr2 FROM member WHERE id = #{value}
	</select>

	<!-- 찜한 상품 페이지 데이터 보여주기 -->
	<select id="selectWishGoodsData" resultType="com.vo.Wish" parameterType="int">
		SELECT 
			wi.id AS id,
			wi.regDt AS regDt,
			wi.updateDt AS updateDt,
			wi.updateId AS updateId, 
			wi.useYn AS useYn,
			g.id AS goodsId,
			g.nm AS nm,
			i.`path`AS imgPath
		FROM
			wish wi
		JOIN goods g ON
			wi.goodsId = g.id  
		JOIN imgGroup ig ON	
			g.listImg = ig.id 
		JOIN img i ON
			ig.id = i.imgGroupId
		WHERE 
			wi.memberId = #{value}
	</select>
	
	<!-- 탈퇴 비밀번호 체크 -->
	<select id="selectResignCheck" resultType="int" parameterType="com.dao.MemberDao">
		SELECT COUNT(id) FROM member WHERE id = #{id} AND pw = #{pw}
	</select>
	
	<!-- 회원 비밀번호 수정 -->
	<update id="updateMemberPw" parameterType="com.dao.MemberDao">
		UPDATE member 
		SET pw = #{pw}
		WHERE id = #{id}
	</update>

	<!-- 회원 주소 수정 -->
	<update id="updateMemberAddr" parameterType="com.dao.MemberDao">
		UPDATE member 
		SET addr1 = #{addr1}, addr2 = #{addr2} 
		WHERE id = #{id}
	</update>

	<!-- 찜한 상품 수정 -->
	<update id="updateWishList" parameterType="com.dao.WishDao">
		UPDATE wish
		SET updateDt=now(), useYn='N'
		WHERE id = #{id};
	</update>
	
</mapper>


